
<div class="main">

  <div class="inner-body">

  <div class="access">
      
    
      <iframe class="access-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.5293063046292!2d138.4058463152617!3d35.786936980169806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601c12a8802d4ea3%3A0x8ba4c90c937bf1de!2z5Y2X5riF6YeM44Os44K444Oj44O844K744Oz44K_44O8!5e0!3m2!1sen!2sjp!4v1534954784388" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      
      <div class="access-item">
        <p>住所<br>
          山梨県北杜市須玉町若神子下和田5048</p>
        <p>電話番号<br>
          0551-42-2851</p>
        <p>アクセス案内<br>
          中央自動車道 須玉IC下車 約10分</p>
        <p>駐車場<br>
          有(サイト内へ乗り入れ可能)</p>
        
      </div>
  </div>

  </div>
</div>