
<div class="main">

  <div class="inner-body">
  
    <h5>スーパー・コンビニ</h5>
      <p>ザ・ビッグ北杜須玉店<br>
        【営業時間】7:00～22:00</p>

      <p>ローソン 山梨須玉町店<br>
        【営業時間】24時間営業</p>

    <h5>ホームセンター</h5>
      <p>コメリ 須玉店<br>
        【営業時間】9:00～19:30</p>


    <h5>温泉・銭湯</h5>
      <p>健康ランド須玉<br>
        【営業時間】[火～土] 10:00-21:00<br>
        <span style="margin-right: 6em;"></span>[日] 10:00-19:00<br>
        <span style="margin-right: 6em;"></span>休館日:水曜日</p>

  </div>
</div>