
<div class="main">
  <div class="inner-body">
    <table class="bordered">
        <thead>
        <tr>
            <th>施設</th>        
            <th>料金</th>
            <th>数</th>
        </tr>
        </thead>
        <tr>
            <td>オートサイト</td>        
            <td>5,000円</td>
            <td>10</td>
        </tr>        
        <tr>
            <td>オートサイト(冬期:11月～3月)</td>         
            <td>2,500円</td>
            <td>10</td>
        </tr>

        <tr>
            <td>バンガロー</td>         
            <td>6,000円</td>
            <td>5</td>
        </tr>
        <tr>
            <tr>
            <td>バーベキューハウス</td>         
            <td>6,000円</td>
            <td>5</td>
        </tr>

    </table>

    <table class="bordered-fishing">
        <thead>
        <tr>
            <th>その他</th>
            <th>料金</th>
        </tr>
        </thead>
        <tr>
            <td>魚釣り（ヤマメ・イワナ）</td>
            <td>1,500円</td>
        </tr>        
        <tr>
            <td>魚釣り（マス）</td>
            <td>2,000円</td>
        </tr>
        <tr>
            <td>レンタル</td>
            <td>2,000円</td>
        </tr>
        <tr>
            <td>炭・薪</td>
            <td>2,000円</td>
        </tr>
        <tr>
            <td>あとなんか</td>
            <td>2,000円</td>
        </tr>
    </table>
  </div>
</div>